* {
    margin: 0;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
    font-family: var(--font);
    margin: 1rem;
}

video {
    /*clear: both;*/
    /*display: block;*/
    transform: rotateY(180deg);
}

.canvas {
    transform: rotateY(180deg);
}
